<div class="col-md-6 col-lg-6 col-xs-12 m-auto" id="comments">
    <h2 class="section_comments text-center mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">LAISSER UN COMMENTAIRE :</h2>
    <div id="comments_links" class="text-center m-auto">
        <p>
            <a href="">( Se connecter </a>
            -
            <a href=""> S'inscrire )</a>
        </p>
    </div>
    <p>Liste des commentaires : </p>
    <hr>
</div>