<div class="container mt-5" id="CV">
    <h2 class="section_title text-center"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">MON CV :</h2>
    <div class="row mt-3">
        <div id="buttons_cv" class="col-md-3 col-xs-12">
            <input id="button_infos" class="btn btn-primary" type="button" value="INFORMATIONS">
            <input id="button_diplomes" class="btn btn-success" type="button" value="DIPLÔMES">
            <input id="button_experiences" class="btn btn-warning" type="button" value="EXPÉRIENCES">
            <input id="button_skills" class="btn btn-info" type="button" value="SOFT SKILLS">
        </div>
        <div id="cv_ajax" class="col-md-8 col-xs-12 m-auto"></div>
    </div>
</div>