<footer class="footer mt-5 bg-dark p-2 text-center">
    <div class="container">
        <span class="text-muted">©2020 Florian THIEBAUD - <a id="rgpd_footer" href="{{ path('rgpd') }}" target="_blank">Politique de confidentialité</a><div><a id="linkedin" href="https://www.linkedin.com/in/florian-thiebaud-409a34103/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></div></span>
    </div>
</footer>