<div class="container mt-3" id="introduce_me">
    <div class="col-md-12 col-xs-12 m-auto">
        <h2 class="text-center section_title mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">PRÉSENTATION :</h2>
        <p class="introduce_text">
            Après un parcours atypique, une Licence STAPS, divers rôles dans l'événementiel et l'achat d'un fond de commerce, je décide à 31ans de revenir à mon premier amour qui est le développement via la formation "Développeur Web Junior" d'OpenClassrooms en octobre 2019.
            <br><hr>
            À travers cette formation je découvre dans un premier temps les langages frontend (HTML, CSS, JS), tout en apprenant à développer en orienté objet. Puis ma préférence se tourne sur les langages backend (PHP, framework Symfony)
        </p>
    </div>
</div>