<div class="container mt-3" id="introduce_me">
    <div class="col-md-12 col-xs-12 m-auto">
        <h2 class="text-center section_title mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">PRÉSENTATION :</h2>
        <p data-aos="fade-up" class="introduce_text">
            Après un parcours atypique, une Licence STAPS, divers rôles dans l'événementiel et l'achat d'un fond de commerce, je décide à 31ans de revenir à mon premier amour qui est le développement via la formation "Développeur Web Junior" d'OpenClassrooms en octobre 2019.
            <br><hr>
            À travers cette formation j'ai découvert dans un premier temps les langages frontend (HTML, CSS) grâce à un projet d'intégration. 
            J'ai ensuite appris à utiliser le CMS Wordpress en créant le site d'une Office de Tourisme. 
            Lors d'un troisième projet, j'ai commencé à découvrir la programmation via Javascript et un site de location de vélo tout en apprenant à développer en orienté objet. 
            C'est lors d'un quatrième projet type blog que j'ai fait la connaissance de PHP (from scratch) & MySql ainsi que de la puissance du pattern MVC. 
            Vous êtes ici sur mon cinquième projet qui est un projet libre avec un certain nombre de contraintes. Pour ce dernier j'ai donc choisit de m'attaquer au monument Symfony :)
            <br><hr>
            Je cherche désormais à développer mes compétences de base, que ce soit en frontend ou backend en intégrant une équipe de développeurs.
            Bien que je sois junior, si vous cherchez quelqu'un de très motivé, curieux, déterminé, organisé et qui a soif d'apprentissage (optionnel : vous aimez la bonne bière) vous pouvez cliquer <a class="scrollTo" href="#item-contact">ici</a>.
        </p>
    </div>
</div>