<div id="presentation" class="container-fluid">
    <div id="presentation_card">
        <h1 class="animated bounceInDown title_presentation">
        Florian Thiébaud
        </h1>
        <p class="animated bounceInUp text_presentation">
            Développeur Web Junior
        </p>
        <a class="scrollTo" href="#item-scroll4"><input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-3"></a>
    </div>
    <div id="presentation_card2">
        <div class="profil">
            <img class="photo_profil" src="{{ asset('images/profil.jpeg')}}" alt="profil">
            <h2 class="title_presentation2"><span class="text-white">&lt</span> Bonjour <span class="text-white">&gt</span></h2>
        </div> 
        <p class="mt-2 animated bounceInUp text_presentation2">
            Fraîchement diplômé de la formation DWJ d'OpenClassRooms, j'ai une forte appétence pour les langages backend et notamment Symfony, tout en m'intéressant aux langages frontend.
        </p>
        <a class="scrollTo" href="#item-contact"><input type="button" value="Contact" class="btn_contact btn btn-outline-info btn-sm col-md-6 col-xs-3"></a>
    </div>
</div>