<div class="container-fluid mt-5 mb-3" id="projects">
    <h2 class="section_title text-center mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">MON PORTFOLIO :</h2>
    <div class="col-md-10 col-xs-12 text-center mx-auto projects">
        <div class="project mb-5 col-xs-12">
            <div class="col-2 col-xs-1 chevron_left"><i id="chevron_left" class="fas fa-chevron-left"></i></div>
            <div class="col-8 col-xs-12 image_project"></div>
            <div class="col-2 col-xs-1 chevron_right"><i id="chevron_right" class="fas fa-chevron-right"></i></div>
        </div>
        <div class="thumbnails m-auto col-md-10 col-xs-12">
            <div class="thumb thumbnail1_project col-3"></div>
            <div class="thumb thumbnail2_project col-3 ml-2 mr-2"></div>
            <div class="thumb thumbnail3_project col-3"></div>
        </div>
        <div class="informations_project table-responsive-sm">
            <table class="table table-striped mt-5 text-center">
                <thead>
                    <th class="col-xs-8"></th>
                    <th class="col-xs-4"></th>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Titre</strong></td>
                        <td><h3 class="title_project"></h3></td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td class="col-xs-2 description_project"></td>
                    </tr>
                    <tr>
                        <td><strong>Langages et frameworks</strong></td>
                        <td class="languages_project"></td>
                    </tr>
                    <tr>
                        <td><strong>Lien</strong></td>
                        <td class="link_project"></td>
                    </tr>
                    <tr>
                        <td><strong>Lien Github</strong></td>
                        <td class="github_link_project"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="large_image" class="col-12 mt-5 text-center">
            <div id="close_image">x</div>
            <div id="large_picture" class="col-12"></div>
        </div>
    </div>
</div>