<div class="container mt-5 mb-3" id="projects">
    <h2 class="section_title text-center mb-3"><img class="mr-2" style="opacity:0.5" src="{{ asset('images/bird.png')}}" alt="bird">MON PORTFOLIO :</h2>
    <div class="col-md-10 col-xs-12 m-auto text-center">
        <div class="project mb-5 col-12">
            <div class="col-2 chevron_left"><i id="chevron_left" class="fas fa-chevron-left"></i></div>
            <div class="col-8 image_project"></div>
            <div class="col-2 chevron_right"><i id="chevron_right" class="fas fa-chevron-right"></i></div>
        </div>
        <div class="thumbnails row m-auto col-md-10 col-xs-12">
            <div class="thumb thumbnail1_project col-3"></div>
            <div class="thumb thumbnail2_project col-3 ml-2 mr-2"></div>
            <div class="thumb thumbnail3_project col-3"></div>
        </div>
        <div class="informations_project mt-5">
            <table class="table table-striped m-auto text-center">
                <tbody>
                    <tr>
                        <td><h4>Titre : </h4></td>
                        <td><h3 class="title_project"></h3></td>
                    </tr>
                    <tr>
                        <td style="width:30%">Description : </td>
                        <td><div class="description_project"></div></td>
                    </tr>
                    <tr>
                        <td>Langages et frameworks : </td>
                        <td><div class="languages_project"></div></td>
                    </tr>
                    <tr>
                        <td>Lien : </td>
                        <td><div class="link_project"></div></td>
                    </tr><tr>
                        <td>Lien Github :</td>
                        <td><div class="github_link_project"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="large_image" class="col-12 mt-5 text-center">
            <div id="close_image">x</div>
            <div id="large_picture"></div>
        </div>
    </div>
</div>