/************** GENERAL **************/

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Thin";
    src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}
html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Poppins" !important;
    font-size: 2em;
}

ul {
    list-style: none;
}

.blue_icon, .color_blue {
    color: #5cadd3;
}

.section_title {
    font-family: 'Poppins-Bold';
    color: rgb(92, 173, 211);
}

.section_title_litle {
    font-family: 'Poppins-Bold';
    color: rgb(92, 173, 211);
}

#download_cv {
    opacity: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%;
    position: fixed;
    padding: 1em;
    border-radius: 25px 0 0 25px;
    background-color: rgb(92, 173, 211);
    z-index: 100;
    cursor: pointer;
}

#download_cv:hover {
    color: white;
}
.fa-linkedin {
    font-size: 2vw;
}

.fa-linkedin:hover {
    color: rgb(92, 173, 211);
}

#linkedin {
    text-decoration: none;
    color: silver;
}

#download_cv {
    color: black;
    text-decoration: none;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes line_height {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}

/************** NAVBAR **************/

#navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    top: 0; 
    background-color: rgb(54, 54, 54);
    z-index: 1000;
    position : fixed;
}

#navbar ul {
    display: flex; 
    margin-top: 2vw;
    font-size: 1.25vw;
}

#navbar ul li {
    margin: 1vw;
}

#navbar ul a {
    text-decoration: none;
    color: white;
    padding-right: 1vw;
}

#navbar ul a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #5cadd3;
    transition: width 0.3s;
}

#navbar ul a:hover::after {
    width: 100%;
    transition: width 0.3s;
}

#navbar ul a:hover {
    color: #5cadd3;
    transition: color 1s;
}

#logo1 {
    position: absolute;
    width: 12vw; 
    height: auto;
    top: 0.8vw;
}

/************** PRESENTATION **************/
#presentation {
    margin-top: 90px;
    width:100%;
    height: auto;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;

}

#presentation_card {
    display:flex; 
    flex-direction: column;
    border-top: 10px solid rgb(92, 173, 211);
    border-bottom: 10px solid rgb(92, 173, 211);
    z-index: 10;
    border-radius: 25px;
    padding: 3vw;
    margin: 10vw;
    background-color: rgb(0,0,0,0.8);
}

#presentation_card2 {
    width: 40%;
    display:flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    border-top: 10px solid rgb(92, 173, 211);
    border-bottom: 10px solid rgb(92, 173, 211);
    border-radius: 25px;
    padding: 3vw;
    opacity: 0;
    background-color: rgb(0,0,0,0.8);
}


.title_presentation {
    font-weight: 800;
    font-size: 3vw;
    color: rgb(92, 173, 211);
}

.title_presentation:hover {
    color: rgb(92, 173, 211, 0.5);
}

.text_presentation {
    color: white;
    font-size: 1.5vw;
    font-style: italic;
}

.photo_profil {
    width: 9vw;
    height: auto; 
    border-radius: 50%;
}
.title_presentation2 {
    font-size: 2vw;
}
.text_presentation2 {
    color: white;
    font-size: 1.5vw;
    font-family: 'Poppins-Thin';
}

.profil {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.profil h2 {
    margin-left: 1vw;
    color: rgb(92, 173, 211);
    font-weight: bold;
}

/************** INTRODUCE ME **************/

#introduce_me, #skills_section, #contact {
    background-color: rgb(192, 192, 192, 0.5);
    border-radius: 2vw;
    padding: 3vw;
}

/************** CV **************/

#buttons_cv {
    display: flex; 
    flex-direction: column;
}

#buttons_cv .btn {
    width: 150px;
    margin: 1vw;
}

.cv_infos_picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.soft_skills {
    font-size: 1.5vw !important;
}

/************** SKILLS **************/

#skills_section {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

#skills {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.round_skills, #first_round_skills {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(92, 173, 211);
}

#first_round_skills {
    cursor: pointer;
    animation: round_effect 2s ease infinite;
}

@keyframes round_effect {
    to {
        box-shadow: 0px 0px 50px black; 
    }
}

.line_skills {
    background-color: rgb(192, 192, 192, 0.5); 
    width: 5px; 
    height: 0;
}

.horizontal_line_left {
    transform: translateX(-115px) translateY(-15px);
    background-color: silver !important;
    width: 200px;
    height : 1px;
}

.horizontal_line_right {
    transform: translateX(115px) translateY(-15px);
    background-color: silver;
    width: 200px;
    height : 1px;
}

.language_skills_left, .language_skills_right, .framework  {
    width: 80px; 
    height: 80px;
    border-radius: 25%;
    padding: 1vw;
    animation: opacity 3s forwards;
}

.framework {
    width: 60px !important;
    height: 60px !important;
    transform: translateY(-10px);
}

.language_skills_right {
    transform: translateX(200px) translateY(-40px);
}

.language_skills_left {
    transform: translateX(-80px) translateY(-40px);
} 

.language_skills_left:hover, .language_skills_right:hover, .framework:hover  {
    opacity: 0.5;
}

.ajax_cv_view {
    animation: opacity 2s forwards;
}

/************** PROJECTS **************/
.project {
    display: flex;
    align-items: center;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 2vw;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
    color: rgb(92, 173, 211);
}

.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnail1_project, .thumbnail2_project, .thumbnail3_project {
    border: 1px solid black; 
    opacity: 0.5;
    padding: 1em;
}

.thumbnail1_project:hover, .thumbnail2_project:hover, .thumbnail3_project:hover {
    opacity: 1;
    cursor: zoom-in;
}

.img_project {
    margin-top: 2vw;
    width: 100%;
    height: 40%;
}

.opacity {
    animation: opacity 1s forwards; 
}

.image_largest {
    width: 100%; 
    height: auto;
    padding: 1em; 
    background: silver;
}

#large_image {
    display: none;
    padding: 0.5em;
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: 2px solid rgb(92, 173, 211);
    background-color: rgb(192, 192, 192, 0.2);
}
#large_image img {
    width: 100%;
    height: auto;
    z-index: 1;
}
#close_image {
    position: absolute; 
    top: 0; 
    right: 0;
    cursor: pointer; 
    margin-right: 1em;
    font-family: "Poppins-Bold";
    z-index: 2;
}


/************** CONTACT **************/

form label {
    margin: 0 !important;
}

.icon_contact {
    color: rgb(92, 173, 211);
}

/************** COMMENTS **************/

#contact_comments {
    margin-top: 6vw !important;
}

#comments {
    border: 2px solid rgb(92, 173, 211);
    border-radius: 2vw;
    padding: 2vw;
}

.section_comments {
    font-family: 'Poppins-Bold';
    color: rgb(92, 173, 211);
}

#comments_links {
    display: flex;
    justify-content: center;
}

#comments_links div  {
    color: black; 
    cursor: pointer;
    margin: auto;
}

#comments_links div:hover {
    color: rgb(92, 173, 211);
}

/************** SUBSCRIBE - SUBMIT **************/

#subscribe, #submit {
    animation: opacity 2s forwards;
}

.navigation nav ul {
    display: flex; 
    justify-content: center;
}

/************** ADMIN ACCUEIL **************/

#admin_accueil {
    padding: 2vw;
    border: 2px solid rgb(92, 173, 211);
    border-radius: 2vw;
}

#admin_message_logout {
    display: flex; 
    justify-content: center;
    margin-top: 1vw;
    text-decoration: none;
}

#admin_message_logout div:hover {
    color: black;
    font-size: 1.4vw;
}

.margin_button_xs {
    display: flex;
    flex-direction: column; 
}

/************** ADMIN COMMENTS **************/

#admin_comments {
    margin-top: 2vw;
}

/************** ADMIN CV **************/

#admin_buttons_cv {
    display: flex; 
    justify-content: center;
    padding: 1vw; 
    border: 1px solid silver;
    border-radius: 25px;
}

.admin_buttons_cv {
    display: flex; 
    justify-content: center;
}

#admin_buttons_cv li {
    padding: 0.5vw;
}

/************** FOOTER **************/

#rgpd_footer {
    text-decoration: none;
    color: silver;
}

#rgpd {
    margin-top: 150px;
}

